<!DOCTYPE html>
<html>

  <head>
    <title>Programming is FUNNY</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">

  </head>

  <body>
    <h1>console.log(......)</h1>
    <div class="card">
      <div class="joke-content">
        <p><%= joke %></p>
        <p><%= setup %></p>
        <p class="delivery"><%= delivery %></p>
      </div>
    </div>
    <p class="message">reload the page for a new one :-) </p>
  </body>

</html>